@import '../../../../sassStyles/typography';
@import '../../../../sassStyles/variables';

.home-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.home {
    width: 80%;
    
    &-top {
        width: 100%;
        margin-top: 65px;
        background-color: map-get($colors, secondary );
        display: flex;

        &__left {
            margin: 0 32px;
            letter-spacing: 1px;

            h2 {
                color: map-get($colors , light );
                margin: 32px 0 16px 0;
                text-align: start;

                span {
                    color: map-get($colors, des );
                }
            }

            p{
                font-size: map-get($font-size, body1 );
                font-weight: 300;
                line-height: 2;
                text-align: start;
                color: map-get($colors, light );

            }
        }
    }
}