@import "../../../../sassStyles/typography";
@import "../../../../sassStyles/variables";

.home-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.home {
  width: 76%;
}
