@import "../../sassStyles/variables";

.carousel {
  width: 100%;
  display: flex;
}

.first-slider {
  width: 190px;
  height: 480px;

  .slick-track {
    top: 35px;
  }

  .slick-list {
    height: 480px !important;
  }

  //   .slider-title {
  //     margin: 35px 0;
  //     display: block;
  //   }

  .slider-scroll {
    position: relative;
    margin: 30px 0px;
    width: 116px;
    height: 40px;
    display: flex !important;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      width: 70px;
      height: 1px;
      background: map-get($colors, greycolor);
    }

    .slider-title {
      position: relative;
      display: block;
      width: 115px;
      border: 1px solid map-get($colors, greycolor);
      padding: 8px;
      border-radius: 6px;
      color: map-get($colors, greycolor);;

      &::after {
        content: "";
        position: absolute;
        right: -6px;
        top: 15px;
        width: 10px;
        height: 10px;
        color: map-get($colors, greycolor);

        border-radius: 50%;
        background: map-get($colors, greycolor);
      }

      
    }
  }
  .slick-current {
    .slider-scroll {
      &::after {
        content: "";
        position: absolute;
        right: 0px;
        width: 70px;
        height: 1px;
        background: map-get($colors, light);
      }
    }
  }
}

.slick-current {
  .slider-scroll {
    &::after {
      content: "";
      position: absolute;
      right: 0px;
      width: 70px;
      height: 1px;
      background: map-get($colors, light) !important;
    }
  }

  .slider-title {
    border: 1px solid map-get($colors, light) !important;
    position: relative;
    display: block;
    width: 115px;
    padding: 8px;
    border-radius: 6px;
    color: map-get($colors, light) !important;

    &::after {
      content: "";
      position: absolute;
      right: -6px;
      top: 15px;
      width: 10px;
      height: 10px;
      color: map-get($colors, light) !important;

      border-radius: 50%;
      background: map-get($colors, light) !important;
    }
  }
}

.second-slider {
  width: calc(100% - 190px);
  height: 100%;
  border-radius: 18px;

  .slick-slider {
    width: 500px;
  }

  .slick-track {
    width: 100% !important;
  }

  .slick-list {
    padding: 0 !important;
    border-radius: 18px;

    & > div {
      height: 100%;
    }
  }

  .slick-slide {
    width: 100% !important;

    & > div > div {
      display: flex !important;
    }
  }
}
